.add-student-btn {
  background-color: rgb(251, 165, 115);
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px rgba(143, 143, 143, 0.555);
}

.add-student-btn:active {
  background-color: rgb(226, 155, 73);
}

