.all-student-header {
  margin-top: 5rem;
  font-size: 5rem;
  text-align: center;
}

hr {
  border: 1px solid rgba(167, 167, 167, 0.431);
  width: 130px;
  margin: 0 auto;
}

.all-student-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 0;
  max-width: 70%;
}

.no-students-msg {
  margin: 4rem 0;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}