.all-students-container {
  text-align: center;
}

.all-student-header {
  font-size: 5rem;
}

.all-student-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto 0;
  max-width: 70%;
}

.no-students-msg {
  margin: 4rem 0;
  font-size: 1.4rem;
  font-style: italic;
}
