* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* remove step arrows in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  border: 1px solid rgba(167, 167, 167, 0.431);
  width: 130px;
  margin: 0 auto 3rem;
}

