* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* remove step arrows in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.infoArea {
  display: flex;
  background-color: beige;
}

.campusCardImageField {
  padding: 10px;
}

.campusCardImageField img {
  width: 400px;
  height: 250px;
}

.campusName {
  text-decoration: underline;
}

.infoArea button {
  background-color: rgb(209, 96, 96);
}

.bottom-btns {
  display: flex;
  position: relative;
  top: 60%;
}

.edit-btn {
  text-decoration: underline;
  color: #61dafb;
  margin-right: auto;
  padding: 4px;
}

.bottom-btns button {
  width: 50px;
  height: 30px;
}

.home-btn {
  margin-right: auto;
}
