.campus-card-container {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: 1rem auto;
  box-shadow: 2px 2px 8px 2px rgba(155, 155, 155, 0.644);
  border-radius: 10px;
}

.campus-card-img {
  padding: 0.4rem 0.6rem;
  max-width: 50%;
}

.campus-card-info {
  padding-left: 0.6rem;
}

.campus-card-name {
  margin-bottom: 8.5rem;
}

.campus-card-delete-btn {
  align-self: flex-end;
  margin: 1rem 0.5rem;
}
