.homeBack {
  background: url("../images/homeBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  display: grid;
}

.btn-holder {
  margin: auto;
}

.home-btn {
  background-color: rgba(13, 235, 124, 0.5);
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  margin: 5px;
}

.home-btn:hover {
  border: solid 2px white;
  width: 200px;
}
