/* add button styles */

.add-student-btn {
  background-color: rgb(251, 165, 115);
}

.add-student-btn:active {
  background-color: rgb(226, 155, 73);
}

/* edit button styles */

.edit-student-btn {
  background-color: rgb(49, 200, 62);
}

.edit-student-btn:active {
  background-color: rgb(49, 179, 56);
}

/* delete button styles*/

.delete-student-btn {
  background-color: rgb(251, 115, 115);
  margin-left: 1rem;
}

.delete-student-btn:active {
  background-color: rgb(223, 97, 97);
}

.link-buttons {
  color: white;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(143, 143, 143, 0.555);
}
