* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infoArea{
  display: flex;
  background-color: beige;
}

.campusCardImageField{
  padding: 10px;
}

.campusCardImageField img{
  width: 400px;
  height: 250px;
}

.campusName{
  text-decoration: underline;
}

.infoArea button{
  background-color: rgb(209, 96, 96);
}

.bottom-btns{
  display: flex;
  position: relative;
  top: 60%;
}

.edit-btn{
  text-decoration: underline;
  color: #61dafb;
  margin-right: auto;
  padding: 4px;
}

.bottom-btns button{
  width: 50px;
  height: 30px;
}

.home-btn{
  margin-right: auto;
}
